spring:
  application:
    name: simple-planning-tool
  datasource:
    url: jdbc:postgresql://postgres:5432/planning_tool
    username: user
    password: password
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true


server:
  servlet:
    context-path: /api